html {
	height: 100%;
}
body {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	text-align: center;
	margin: 0;
	height: 100%;
}
h1 {
	font-size: 4em;
	margin-bottom: 0px;
}
h2 {
	margin-top: 0px;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
#header {
	position: absolute;
	width: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.8);
}
#logo {
	margin-bottom: -20px;
	margin-right: 10px;
	width: 100px;
}
#header-text {
	display: inline-block;
}

.setting input[type='number'] {
	width: 30px;
}
#settings {
	text-align: center;
}
#settings input[type=radio] {
	margin-right: 10px;
}
.setting {
	display: inline-block;
}
.radio-setting {
	display: inline-block;
}
.number-setting {
	display: inline-block;
}
input[type='radio']+.settings_divider {
	margin-left: 0px;
}
.settings_divider {
	margin-right: 10px;
	margin-left: 10px;
}
#name_output {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: left;
}
#share {
	margin-left: 20px;
	position:absolute;
	left: 0;
	bottom: 0;
	text-align: left;
}
#content {
	font-size: 1.2em;
	height: 100%;
}
#settings {
	font-size: 1.2em;
}
#copyright {
	position: absolute;
	bottom: 0;
	left: 50%;
	color: #666666;
	/* for border */
/*    background-color: white;
	border-radius: 3px 3px 0 0;
	padding: 3px 3px 0 3px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: black;
*/
}
.name {
	padding: 2px;
	position: relative;
	display: inline-block;
}
.name.m {
	color: #4257E3;
}
.name.f {
	color: #E3426F;
}
/* custom spacing to normalize share buttons */
#fb-share {
	margin-top: -2px;
}
#pinterest-share {
	margin-top: 6px;
}
#link-img {
	margin-bottom: -0.2em;
	width: 1em;
}

@media (max-width: 360px) {
	#content {
		font-size: 1.1em;
	}
	#logo {
		width: 30%;
		margin-right: 0px;
	}
	h1 {
		font-size: 2em;
		margin: 0;
	}
	h2 {
		font-size: 1em;
		margin: 0;
	}
	#header-text {
		width: 70%;
	}
	#settings {
		margin-top: 1em;
	}
	.setting {
		display: block;
	}
	.settings_divider {
		display: none;
	}
	.setting input[type='text'] {
		width: 90%;
	}
	#center {
		width: 90%;
		border: 1px solid black;
	}
	#name_output {
		/** TODO 15 em produces an integer number of pixels in height
		 * if there are a non-integer number of pixels in height, 
		 * we lose a pixel of the bottom border. I think this has
		 * something to do with the viewport meta info
		 */
		height: 15em;
	}
	#share {
		display: none;
	}
	/* TODO probably better to display:none the .setting itself */
	#settings-link {
		display: none;
	}
}
