body {
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}
h1 {
	text-align: center;
}
#length_range_min,
#length_range_max {
	width: 30px;
}
#settings {
	text-align: center;
}
#settings input[type=radio] {
	margin-right: 10px;
}
.settings_divider {
	margin-right: 10px;
}
#name_output {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 200px;
	overflow-y: scroll;
	border: 1px solid black;
}
#content {
	font-size: 1.2em;
}
.name {
	padding: 2px;
}
.name.m {
	background-color: #EBFBFF;
}
.name.f {
	background-color: #FFEBFC;
}